@import "tailwindcss";

@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: dark;
}

option {
  background-color: #3f3f46; /* zinc-700 */
  color: #fff;
}
